:root {
  /* Font Family */
  --Aladin-font: "Aladin", system-ui;;
  --Righteous-font: "Righteous", sans-serif;
  --SourceCodePro-font: "Source Code Pro", monospace;
  --Lato-font: "Lato", sans-serif;
  --secondary-color : #DC143C;
  --primary-color : #FFF574;
  --blue-color: #1f2937;
  --black-color: #000000; 
  --gray-color: #4b5563;
  --white-color: #ffffff;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: var(--SourceCodePro-font);
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

a {
  text-decoration: none;
}

.highlight-text{
  color: var(--secondary-color);
}

::-webkit-scrollbar {
  width: 8px; 
  background: var(--black-color);
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #000000 40%);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, var(--secondary-color), var(--secondary-color));
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(133, 169, 71, 0.9);
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, var(--secondary-color), var(--secondary-color));
  box-shadow: 0 0 8px rgba(133, 169, 71, 0.9);
  transform: scale(1.1);
}

::-webkit-scrollbar-corner {
  background-color: var(--black-color);
}

/* !----------------------------------------- */
/* ! info-contact */
.info-contact{
  background: var(--secondary-color);
}
.info-contact .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
  color: var(--white-color);
}
.info-contact .container .mail a{
  font-family: var(--Righteous-font);
  color: var(--white-color);
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}
.info-contact .container .mail a:hover{
  color: var(--primary-color);
}
.info-contact .container .ph a{
  font-family: var(--Righteous-font);
  color: var(--white-color);
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}
.info-contact .container .ph a:hover{
  color: var(--primary-color);
}

/* !----------------------------------------- */
/* ! info-contact - Media Query */
@media screen and (max-width: 991px){
  
}
@media screen and (max-width: 768px){
  .info-contact{
    display: none;
  }
}
@media screen and (max-width: 576px){

}


/* !----------------------------------------- */
/* ! Navbar */
.z-navbar{
  background: var(--black-color);
  position: sticky;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  z-index: 4;
}

/* When navbar becomes sticky */
.z-navbar.sticky {
  background: var(--black-color); 
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.7);
  padding: 2px 0; 
}

.z-navbar .nav-container{
  padding: 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ? logo */
.z-navbar .nav-container .logo img{
  width: 150px;
}

/* ? nav-items */
.z-navbar .nav-container .z-nav-items-container{
  display: block;
}
.z-navbar .nav-container .z-nav-items-container .z-nav-list{
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}
.z-navbar .nav-container .z-nav-items-container .z-nav-list .z-nav-item{
  list-style: none;
  padding: 0px 14px;
}
.z-navbar .nav-container .z-nav-items-container .z-nav-list .z-nav-item:last-child {
  padding-right: 0; 
}
.z-navbar .nav-container .z-nav-items-container .z-nav-list .z-nav-item a{
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: var(--Righteous-font);
  color: var(--white-color);
  transition: color 0.3s ease-in-out; 
}
.z-navbar .nav-container .z-nav-items-container .z-nav-list .z-nav-item a:hover{
  color: var(--secondary-color);
}
/* * Active Page */
.z-navbar .nav-container .z-nav-items-container .z-nav-list .z-nav-item a.active{
  color: var(--secondary-color);
}

/* ? hamburger-icon */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 30px;
  cursor: pointer;
}
.hamburger span {
  display: block;
  height: 3px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  margin-bottom: 6px;
}
.hamburger span:last-child {
  margin-bottom: 0;
}

/* Different widths for the bars */
.hamburger span:nth-child(1) {
  width: 20px;
  align-self: center;
}

.hamburger span:nth-child(2) {
  width: 40px;
}

.hamburger span:nth-child(3) {
  width: 30px;
  align-self: center;
}

/* !----------------------------------------- */
/* ! Navbar - Media Query */
@media screen and (max-width: 991px){
  
}
@media screen and (max-width: 768px){
  .z-navbar .nav-container .z-nav-items-container{
    display: none;
  }
  .hamburger{
    display: flex;
  }
}
@media screen and (max-width: 576px){
  .z-navbar .nav-container{
    padding: 16px 0;
  }
  .z-navbar .nav-container .logo img{
    width: 130px;
  }
}


/* !----------------------------------------- */
/* ! sideNav  */
.side-nav{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.overlay {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: right 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 9;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
  right: 0;
}

.side-nav .side-nav-container{
  padding:  45px 30px 50px;
  font-family: var(--SourceCodePro-font);
  background-color: var(--black-color);
  color: var(--white-color);
  width: 320px;
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  z-index: 10;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
} 

.side-nav .side-nav-container.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.side-nav-container::-webkit-scrollbar {
  display: none;
}

/* ? img-cross */
.side-nav .side-nav-container .img-cross{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.side-nav .side-nav-container .img-cross .logo img{
  width: 140px;
}

.side-nav .side-nav-container .img-cross .x-mark{
  /* margin-left: 70px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.side-nav .side-nav-container .img-cross .x-mark:hover{
  color: var(--secondary-color);
}
.side-nav .side-nav-container .img-cross .x-mark i{
  font-size: 25px;
}

/* ? .side-nav-items */
.side-nav .side-nav-container .side-nav-items .side-nav-list{
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.side-nav .side-nav-container .side-nav-items .side-nav-list .side-nav-item{
  list-style: none;
  padding: 6px 0px;
}

.side-nav .side-nav-container .side-nav-items .side-nav-list .side-nav-item a{
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: var(--Righteous-font);
  color: var(--white-color);
  transition: color 0.3s ease-in-out; 
}
.side-nav .side-nav-container .side-nav-items .side-nav-list .side-nav-item a:hover{
  color: var(--secondary-color);
}
/* * Active Page */
.side-nav .side-nav-container .side-nav-items .side-nav-list .side-nav-item a.active{
  color: var(--secondary-color);
}

/* ? .side-nav-contact-us */
.side-nav .side-nav-container .side-nav-contact-us{
  margin-bottom: 6px;
}
.side-nav .side-nav-container .side-nav-contact-us .heading{
  font-family: var(--Righteous-font);
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 21px;
  text-decoration: underline;
  text-underline-offset: 7px;
}
.side-nav .side-nav-container .side-nav-contact-us .contact-links{
  padding: 16px 0;
}
.side-nav .side-nav-container .side-nav-contact-us .contact-links .link{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.side-nav .side-nav-container .side-nav-contact-us .contact-links .link .icon-con{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--secondary-color);
}
.side-nav .side-nav-container .side-nav-contact-us .contact-links .link .info a{
  font-size: 17px;
  font-family: var(--Righteous-font);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}
.side-nav .side-nav-container .side-nav-contact-us .contact-links .link .info a:hover{
  color: var(--secondary-color);
}

/* ? side-nav-Social-Media-Links */
.side-nav .side-nav-container .side-nav-social-media-links{
  margin-bottom: 6px;
}
.side-nav .side-nav-container .side-nav-social-media-links .heading{
  font-family: var(--Righteous-font);
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 21px;
  text-decoration: underline;
  text-underline-offset: 7px;
}
.side-nav .side-nav-container .side-nav-social-media-links .social-media-container{
  margin-top: 22px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.side-nav .side-nav-container .side-nav-social-media-links .social-media-container .link{
  color: var(--white-color);
}
.side-nav .side-nav-container .side-nav-social-media-links .social-media-container .link .icon-con{
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}
.side-nav .side-nav-container .side-nav-social-media-links .social-media-container .link:hover .icon-con{
  background: #ff5274;
}
.side-nav .side-nav-container .side-nav-social-media-links .social-media-container .link .icon-con i{
  font-size: 17px;
}


/* !----------------------------------------- */
/* ! sideNav - Media Query */
@media screen and (max-width: 991px){
  
}
@media screen and (max-width: 768px){
  
}
@media screen and (max-width: 576px){
  .side-nav .side-nav-container{
    width: 290px;
  }
  .side-nav .side-nav-container .img-cross .logo img{
    width: 130px;
  }
  .side-nav .side-nav-container .side-nav-contact-us .heading{
    font-size: 20px;
  }
}


/* ! Footer */
/* ! =============================================================== */
.Powered-wrapper {
  width: 100%;
  color: var(--white-color);
  background: var(--black-color);
}

.Powered-wrapper .contact-info {
  padding: 40px 0;
}

.Powered-wrapper .info {
  text-align: center;
  margin-bottom: 30px;
}

.Powered-wrapper .info i {
  font-size: 30px;
  color: var(--secondary-color);
}

.Powered-wrapper .info p {
  font-family: var(--Lato-font);
  color: var(--white-color);
  letter-spacing: 3px;
  font-size: 20px;
  padding: 0%;
  margin-bottom: 8px;
}

.Powered-wrapper .info a {
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.Powered-wrapper .info a:hover {
  color: var(--secondary-color);
}

.Powered-wrapper .newsletter {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  border-radius: 25px;
  overflow: hidden;
  width: 95%;
  max-width: 300px;
  margin: 0 auto;
}

.Powered-wrapper .newsletter input {
  flex: 1;
  min-width: 0;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.Powered-wrapper .newsletter button {
  background-color: #333;
  color: var(--white-color);
  border: none;
  padding: 15px 15px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-width: 40px;
}

.Powered-wrapper .newsletter button i {
  font-size: 16px !important;
}

.Powered-wrapper .newsletter button:hover {
  background-color: #1f2937;
}

.Powered-wrapper .logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Powered-wrapper .logo-container::after {
  content: "";
  display: inline-block;
  width: 90px;
  height: 3px;
  background-color: var(--secondary-color);
  position: relative;
  top: -5px;
  margin-left: 20px;
}

.Powered-wrapper .logo-container::before {
  content: "";
  display: inline-block;
  width: 90px;
  height: 3px;
  background-color: var(--secondary-color);
  position: relative;
  top: -5px;
  margin-right: 20px;
}

.Powered-wrapper .logo-container img {
  width: 150px;
}

.Powered-wrapper .social-media-icon a i {
  color: var(--white-color);
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.Powered-wrapper .social-media-icon a i:hover {
  color: var(--secondary-color);
}


/* ! Footer */
/* ! =============================================================== */
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .Powered-wrapper .copy-right {
    flex-direction: column;
  }

  .Powered-wrapper .copy-right .copy {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 576px) {
  .Powered-wrapper .logo-container img {
    width: 115px;
  }

  .Powered-wrapper .logo-container::after,
  .Powered-wrapper .logo-container::before {
    width: 70px;
  }

  .Powered-wrapper .copy-right {
    padding: 15px 10px;
  }

  .Powered-wrapper .copy-right .p1 {
    padding: 0 3px;
  }
}


/* ! Copyright */
/* ! =============================================================== */
.copy-right {
  padding: 15px 20px;
  background: var(--black-color);
  color: var(--white-color);
}

.copy-right .p1 {
  padding: 0 10px;
}

.copy-right .copy{
  font-family: var(--Lato-font);
  letter-spacing: 3px;
  font-weight: 500;
}

.copy-right .p1 a {
  color: var(--black-color);
  transition: all 0.2s ease-in-out;
}
.copy-right .p1 a:hover {
  cursor: pointer;
  color: var(--primary-color);
}
.copy-right h4{
  font-size: 16px;
  font-family: var(--Lato-font);
  letter-spacing: 2px;
}
.copy-right .footer-text-logo a{
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}
.copy-right .footer-text-logo a:hover{
  color: var(--primary-color);
}

/* ! Media Query - Copyright */
/* ! =============================================================== */
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .copy-right {
    flex-direction: column;
  }

  .copy-right .copy {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 576px) {
  .copy-right {
    padding: 15px 10px;
  }

  .copy-right .p1 {
    padding: 0 3px;
  }
}

/* !=============================================================== */
/* !Page-Up */
.page-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  border-radius: 50%;
  background-color: var(--secondary-color); 
  color: var(--white-color);
  cursor: pointer;
  z-index: 9999;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.page-up.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.fa-angle-up {
  color: var(--white-color);
}


/* !=============================================================== */
/* !Media Query - Page-Up */
@media screen and (max-width: 992px){
  .page-up {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 576px){
  .page-up {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    font-size: 12px;
  }
}
